@model TurnosBus.Models.bus

@{
    ViewBag.Title = "Crear Nuevo Bus";
}
<style>
    div#options h3#option3 {
        opacity: 1;
    }
</style>
<div id="appbar">
    <img src="~/Content/img/espe.png" alt="" id="image">
    <button id="salirbutton" onclick="onClickSalir()">Salir</button>
</div>
<div id="container">
    <div id="title">
        <h1 id="texttitle">Registrar Bus</h1>
    </div>
    @* =============================NAVEGACION=================================================== *@
    <div id="options">
        <h3 id="option1" href="#">Manejar Disponibilidad</h3>
        <h3 id="option2" href="#">Ingresar Frecuencia</h3>
        <h3 id="option3" href="#">Registrar Bus</h3>
        <h3 id="option4" href="#">Registrar Lugar</h3>
        <h3 id="option5" href="#">Reportes</h3>

    </div>
    @* COMIENZA EL FORMULARIO *@
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-6">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.plate, "PLACA", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @*@Html.TextBoxFor(model => model.plate, new { @Value = "Last Name" })*@
                                    @Html.EditorFor(model => model.plate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.plate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.capacity, "CAPACIDAD", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.capacity, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.capacity, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="REGISTRAR" class="btn btn-success">
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
              
                </div>
            </div>
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
